:root {
  font-family: sans-serif;
  font-size: 16px;

  overflow-y: scroll;
}

:root,
body {
  margin: 0px;
  padding: 0px;
}

main {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

button,
.cl-action {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}

.cl-primary:not(:disabled) {
  color: #0000ff;
}

.cl-warn:not(:disabled) {
  color: #ff0000;
}

.cl-filler {
  flex: 1 0 auto;
}

button > *,
.cl-action > * {
  pointer-events: none;
}

input[type='number'],
.cl-number {
  font-family: monospace;
  text-align: right;
}

.cmp-float {
  z-index: 9999;
  position: fixed;

  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;

  overflow: visible;
}

.cmp-float > * {
  position: absolute;
}

.cmp-section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;

  position: sticky;
  top: 0px;

  background-color: #ffffff;
  border-bottom: 1px solid #000000;
}

.cmp-section-title {
  flex: 1 0 auto;
}

.cmp-float > .cmd-add-section {
  top: 8px;
  left: 8px;
}

.cmp-input-no {
  display: inline-block;
  width: 3ch;
  flex: 1 0 auto;
}

.cmp-input-title {
  display: inline-flex;
  flex-direction: row;
  width: 13ch;
  align-self: center;
}

.cmp-input-title::after {
  content: '::';
  color: blue;
  padding-left: 1ch;
  padding-right: 1ch;
}

.cmp-input-container,
.cmp-output-container {
  display: grid;
  grid-template-columns: 1fr auto;
}

.cmp-input-container > label,
.cmp-output-container > label {
  display: grid;
  grid-template-columns: auto 1fr;
}

.cmp-output-container {
  margin-top: 4px;
  margin-bottom: 24px;
}

.cmp-inputs-container {
  display: grid;
  margin-top: 8px;
}

.cmp-result {
  font-size: 0.82em;
  margin-right: 8.2ch;

  font-weight: bold;
  text-decoration: underline double;
}
